:root{
    font-size: 62.5%;
}
a,footer{
    font-size: 1.8rem;
}
body{
    background-color: blanchedalmond;
    max-width: 140rem;
    margin: 0 auto;
}
h1{
    font-size: 2.5rem;
}
p,div{
    line-height: 1.7;
    font-size: 1.8rem;
}

article + article {
    margin-top: 3rem;
    border-top: 1px dashed gray;
    padding-top: 3rem;
}
footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2rem 0;
    background-color: black;
    color: white;
    font-weight:500;
    text-align: center;
}